
table.table-striped > tbody > tr:hover{
    background-color: #EEDBFF;
}


table.table-striped th{
    color: #428bca;
    cursor: pointer;
}

table.table-bordered th, table.table-bordered td {
   text-align: center;   
}


table.table-striped td.url {
   width:400px;
   max-width:400px;
   word-wrap:break-word;
}

#password-dialog-form {
    font-family: Verdana,Arial,sans-serif;
    font-size: 18px;
    line-height: 1.4;
}

#password-dialog-form label {
    margin-bottom: 15px;
}

.validateTips {
    padding: 0.3em;
}

input.text {
    margin-bottom: 12px;
    width: 95%;
    padding: .2em;
}

.top-buffer { margin-top:20px; }
.bottom-buffer { margin-bottom:20px; }
.top-shift { margin-top:-15px; }
.bottom-shift { margin-bottom:-15px; }
